<script language="javascript">

function gen_num_ticket(machine_id) {
	$('#myTicketModal').modal('show');
	ticket_ticket_machine_id.value = machine_id;
}

</script>

<% @ticket_machines.each do |machine| %>
<div class="panel panel-default">
	<div class="panel-heading"><div class="panel-title"><%= machine.name %></div></div>
	<table class="table table" border=0>
		
	<tr>
		<td width="100"><strong>총 대기자:</strong></td>
		<td><%= machine.ticket_seq %> 명</td>
	</tr>
	 <tr>
		<td width="70"><strong>평균대기시간:</strong></td>
		<td>15 분</span></td>
	</tr>
	 <tr>
		<td colspan=2><button class="btn btn-success" onclick="javascript:gen_num_ticket(<%=machine.id%>)">번호표 발행</button></td>
	</tr>
	</table>
</div>
<% end %>